[Desktop Entry]
Type=Application
Name=Quartz Browser
Comment=Light weight web browser
Exec=quartz_browser %f
Icon=quartz-browser
Categories=Network;
MimeType=text/html;
Terminal=false
StartupNotify=false
